.animal .box-container,
.user .box-container,
.report .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.animal .box-container .box,
.user .box-container .box,
.report .box-container .box{
    margin: 1rem;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    background-color: #fff; 
    text-align: center;
}

.animal .box-container .box img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 5px;
}

.animal .box-container .box h4,
.user .box-container .box h4,
.report .box-container .box h4{
    text-transform: uppercase;
    color: #074D1F;
}

.animal .box-container .box a button,
.user .box-container .box a button{
    font-size: 0.8rem;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #074d1f;
    border-radius: 5px;
    text-align: center;
}

.animal .box-container .box a button:hover,
.user .box-container .box a button:hover{
    background-color: #d2eddc;
}

.animal button{
    display: block;
    margin: 0 auto;
}

.filter form label{
    margin: 1rem;
}

.filter form .btn{
    margin-left: 1rem;
}
