.form-container{
    max-width: 75%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    margin: 1rem auto;
    padding: 2%;
}

.form-container form{  
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem;   
    background-color: #e8dec5;
    display: block;

}

.form-container form label{
    display: block;
    margin: 10px 0 5px;
}

.form-container h3{
    color: #074D1F;
    font-family: "Aclonica", sans-serif;;
    text-align: center;
    padding-bottom: 1.5rem;
    font-size: 2rem;
}

.form-container form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-container form .inputBox input,
.form-container form textarea{
    font-family: sans-serif;
    width: 100%;
    background: #fff;
    padding: 10px;
    margin: 0.5rem;
    border-radius: 10px;
    font-size: 20px;
    box-sizing: border-box;
}

.form-container form .inputBox select{
    text-align: center;

}

.form-container form p{
    text-align: center;
    margin: 0.5rem auto 2rem;
}

.form-container form button{
    display: block;
    margin: 0 auto;
}